.download {
    background-color: var(--color-gray-100);

    .container {
        background-color: var(--color-gray-200);
        width: 85%;

        @include lg {
            display: -webkit-box;
        }

        .phone-img {
            width: 350px;
            z-index: -20;
            margin-top: 50px;

            @include md {
                width: 400px;
            }

            @include lg {
                width: 500px;
            }

            @include xl {
                width: 550px;
            }
        }

        .content {


            .section-title {
                width: 65%;
                font-size: 30px;
            }

            .app {

                @include md {
                    position: relative;
                    top: -60px;
                    left: 220px;
                }

                @include lg {
                    position: relative;
                    top: -80px;
                    left: 240px;
                }
            }

            .google {

                @include md {
                    position: relative;
                    top: -60px;
                    left: 220px;
                }

                @include lg {
                    position: relative;
                    top: -80px;
                    left: 240px;
                }
            }
        }
    }
}
