
.showcase {
    padding-bottom: 50px;

    .container {

        .showcase-img-taskmaster {
            position: absolute;
            width: 370px;
            right: 0px;
            z-index: -20;

            @include lg {
                width: 550px;
            }

            @include xl {
                width: 650px;
            }

            @include xxl {
                width: 750px;
            }
        }

        .content {
            padding-top: 360px;
            text-align: center;

            @include md {
                padding-top: 20px;
                text-align: left;
                width: 50%;
            }

            @include lg {
                padding-top: 20px;
                width: 45%;
            }

            h1 {

                @include lg {
                    font-size: 50px;
                }
            }

            .get-started {
                margin: 40px 0;
            }

            .brands {
                position: static;
                width: 100%;
                margin-bottom: 225px;

                h6{
                    font-size: 12px;
                }

                @include md {
                    position: relative;
                    width: 200%;
                    z-index: -20;
                }
            }
        }
    }
}
