<section class="download">
    <div class="container">
        <img class="phone-img" src="~/images/download/phone.svg" />       
        <div class="content">     
            <h2 class="section-title">Download Our App for Any Devices:</h2>        
        <p>App Store</p>
            <img src="~/images/download/stars.svg" />
        <h3>Editor's Choice</h3>
        <h4>rating 4.7, 187K+ reviews</h4>
            <img class="app" src="~/images/download/appstore.svg" />
        <p>Google Play</p>
            <img src="~/images/download/stars.svg" />
        <h3>App of the Day</h3>
        <h4>rating 4.8, 30K+ reviews</h4>
            <img class="google" src="~/images/download/googleplay.svg" />
        </div>
    </div>
</section>
