<section>
    <div class="image-container">

        <div class="dark-theme">
            <h2>Switch Between <span>Light & Dark Mode</span></h2>
            <img class="computer" src="~/images/lightdarkmode/mockup.svg" />
            <img class="arrow" src="~/images/lightdarkmode/arrow1.svg" />
        </div>

        <div class="light-theme">
            <h2>Switch Between <span>Light & Dark Mode</span></h2>
            <img class="computer" src="~/images/lightdarkmode/mockup.svg" />
            <img class="arrow" src="~/images/lightdarkmode/arrow1.svg" />
        </div>

    </div>

    <div class="vertical-line"></div>
</section>

