<section class="contact">
    <div class="container">
        <div class="navigation">
            <a class="#" asp-action="Home" asp-controller="Default"><i class="fa-regular fa-light fa-house"></i>Home</a>
            <i class="fa-solid fa-chevrons-right"></i> <span>Contact</span>
        </div>
       <div class="contact-info">
            <h1>Contact Us</h1>
            <h3>Email us</h3>
            <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
            <img class="img-icon1" src="~/images/icons/contact_email_icon.svg" />
            <a>Leave a message<i class="fa-solid fa-arrow-right"></i></a>
            <h3>Careers</h3>
            <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
            <img class="img-icon2" src="~/images/icons/contact_careera_icon.svg" />
            <a>Send an application<i class="fa-solid fa-arrow-right"></i></a>
       </div>
       <form>
            <div class="contact-box">
                <div class=" input-group">
                <h1>Get In Contact With Us</h1>
                <label class="fullname">Full name</label>
                    <input placeholder="Full name" />
                <label class="email">Email address</label>
                    <input placeholder="Email address" />
                </div> 
                <label class="service">Service</label>
                <div class="select">
                  <div class="selected">Service</div>
                  <div class="select-options">
                        <div class="option" data-value="all">1. Service</div>
                        <div class="option" data-value="all">2. Service</div>
                        <div class="option" data-value="all">3. Service</div>
                    </div>
              </div>
                <div class="input-bio input-group">
                    <label class="message">Message</label>
                    <textarea>Enter your message here...</textarea>
                    <button class="btn btn-theme">Send Contact Request</button>
                </div>
            </div>
       </form>
    </div>
    <img class="map-img" src="~/images/map/map.svg" />
</section>
