@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Security";
}

<section>
    <div class="container">
        <h1>Saved Items</h1>
        <button class="btn btn-gray"><i class="fa-regular fa-trash"></i>Delete all</button>

    </div>
</section>